@media only screen and (min-width: 33.75em) {
    /* 540px */
    .container {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 45em) {
    /* 720px */
    .col-1 {
      width: 4.33%;
    }
    .col-2 {
      width: 12.66%;
    }
    .col-3 {
      width: 21%;
    }
    .col-4 {
      width: 29.33%;
    }
    .hidden-sm {
      display: block;
    }
  }
  
  @media only screen and (min-width: 60em) {
    /* 960px */
    .container {
      width: 75%;
      max-width: 60rem;
    }
  }