
/* Utils */

.block {
    display: block;
    width: 100%;
  }
  .inline-block {
    display: inline-block;
    width: 100%;
  }
  .text-sm {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .text-right {
    text-align: right;
  }